// Colors
$color-primary: #fe5000;
$color-primary-light: #fee9e8;
$color-white: #ffffff;
$color-grey-light: #fafafa;
$color-grey: #f4f4f4;
$color-grey-dark: #333333;
$color-font-grey-light: #6d6d6d;
$color-font-grey-dark: #424242;
